@import "../../../Variables/Variables.module.scss";

.homeWrapper {
    display: flex;
    width: 100vw;
    flex-direction: column;
    .homeSliderSection {
        display: flex;
        width: 100%;
        justify-content: center;
        .sliderCard {
            display: flex;
            width: 100%;
            height: 796px;
            align-items: center;
            position: relative;
            padding-left: 100px;
            .homeSliderBackground {
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                object-fit: cover;
                object-position: center;
                filter: brightness(60%);
            }
            .cardTitle {
                width: 50%;
                z-index: 5;
                display: flex;
                flex-direction: column;
                gap: 10px;
                transform: translate(-56px, -45px);
                padding: 20px;
                color: white;
                .arrivals {
                    font-size: 18px;
                font-family: $second-font;
                }
                .latest {
                    font-size: 45px;
                    letter-spacing: 5px;
                    font-family: $second-font;
                    font-weight: 900;
                }
                .shipping {
                    font-size: 14px;
                    font-weight: 900;
                }
                .shop {
                    font-size: 14px;
                    font-weight: 400;
                    letter-spacing: 3px;
                    position: relative;
                    cursor: pointer;
                    color: white;
                    border: 2px solid white;
                    width: min-content;
                    white-space: nowrap;
                    padding: 15px;
                    margin-top: 15px;
                    border-radius: 5px;
                    transition: background $transition;
                    &:hover {
                        background: rgba(128, 128, 128, 0.3);
                    }
                }
            }
        }
    }
    .productsSection {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 30px;
        gap: 15px;
        .productsHeading {
            max-width: 1400px;
            width: 100%;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            gap: 20px;
            align-items: center;
            .productsContent {
                display: flex;
                gap: 20px;
                .contentItem {
                    font-size: 17px;
                    letter-spacing: 4px;
                    transition: 0.5s;
                    display: inline-flex;
                    align-items: center;
                    gap: 2.5px;
                    svg {
                        font-size: 22px;
                        margin-bottom: 2px;
                    }
                    &:hover {
                        color: orangered;
                    }
                }
                .productsHeadingTop {
                    display: flex;
                    gap: 20px;
                    align-items: center;
                    justify-content: center;
                    .bestSeller {
                        font-size: 18px;
                        position: relative;
                        cursor: pointer;
                        font-weight: 600;
                        color: $black-weak;
                        border: 2px solid $black-weak;
                        padding: 13px;
                        border-radius: 10px;
                        transition: background  $transition,color  $transition;

                        &:hover {
                            background: $black-weak;
                            color: white;
                        }
                    }
                }
            }
        }
        .productsContainer {
            width: 100%;
            display: flex;
            max-width: 1440px;
            margin: 0 auto;
        }
    }
    .fashionSection {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 700px;
        position: relative;
        img {
            width: 100%;
            height: 100%;
            object-position: center;
            object-fit: cover;
            position: absolute;
            filter: brightness(60%);
        }
        .fashionContent {
            padding: 25px;
            display: flex;
            align-items: center;
            flex-direction: column;
            color: white;
            z-index: 4;

            p {
                font-size: 22px;
                line-height: 1.2em;
                letter-spacing: 0.075em;
                text-align: center;
                font-weight: 600;
            }
            h2 {
                font-size: 60px;
                font-weight: 900;
                line-height: 1.2em;
                text-align: center;
                font-family: $second-font;
            }
            a {
                width: min-content;
                white-space: nowrap;
                display: flex;
                justify-content: center;
                margin-top: 20px;
                font-size: 18px;
                position: relative;
                font-weight: 600;
                border: 2px solid white;
                padding: 10px;
                border-radius: 10px;
                transition: background $transition;
                font-family: $second-font;
                color: white;


                &:hover {
                    background: rgba(128, 128, 128, 0.3);
                }
            }
        }
    }
    .saleSection {
        background-image: url("https://klbtheme.com/clotya/wp-content/uploads/2022/04/banner-04.jpg");
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 650px;
        display: flex;
        position: relative;

        .saleContent {
            width: 50%;
            height: 100%;
            position: absolute;
            right: 0;
            background-color: $black-weak;
            color: white;
            display: flex;
            justify-content: center;
            padding: 50px;
            align-items: center;
            .saleText {
                display: flex;
                flex-direction: column;
                text-align: center;
                gap: 20px;
                align-items: center;
                height: min-content;
                p {
                    font-size: 24px;
                    line-height: 1.2em;
                    letter-spacing: 0.5em;
                    font-weight: 700;
                }
                span {
                    font-size: 100px;
                    font-weight: 500;
                    line-height: 1em;
                }
                h3 {
                    line-height: 30px;
                    font-size: 23px;
                }
                a {
                    color: white;
                    font-weight: 700;
                    border: 2px solid white;
                    padding: 13px;
                    border-radius: 10px;
                    transition: background $transition;
                    &:hover {
                        background: rgba(128, 128, 128, 0.3);
                    }

                }
            }
        }
    }
}

@media screen and (max-width: 1600px) {
    .homeWrapper {
        .fashionSection {
            height: 500px;
        }
    }
}
@media screen and (max-width: 1300px) {
    .homeWrapper {
        .homeSliderSection {
            .sliderCard {
                height: 600px;
            }
        }
    }
}
@media screen and (max-width: 1200px) {
    .homeWrapper {
        .homeSliderSection {
            .sliderCard {
                height: 550px;
            }
        }
        .fashionSection {
            .fashionContent {
                p {
                    font-size: 15px;
                }
                h2 {
                    font-size: 45px;
                }
            }
        }
        .productsSection {
            padding: 25px 15px;
        }
        .saleSection {
            .saleContent {
                .saleText {
                    p {
                        font-size: 20px;
                    }
                    span {
                        font-size: 55px;
                    }
                    h3 {
                        line-height: 25px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 1008px) {
    .homeWrapper {
        .homeSliderSection {
            .sliderCard {
                .cardTitle {
                    .arrivals {
                        font-size: 16px;
                    }
                    .latest {
                        font-size: 35px;
                    }
                }
            }
        }
        .fashionSection {
            height: 300px;
        }
    }
}
@media screen and (max-width: 978px) {
    .homeWrapper {
        .homeSliderSection {
            .sliderCard {
                height: 450px;
                .cardTitle {
                    .arrivals {
                        font-size: 14px;
                    }
                    .latest {
                        font-size: 25px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 800px) {
    .homeWrapper {
        .homeSliderSection {
            .sliderCard {
                height: 425px;
            }
        }
        .fashionSection {
            .fashionContent {
                p {
                    font-size: 15px;
                }
                h2 {
                    font-size: 30px;
                }
            }
        }
        .saleSection {
            height: 350px;
            .saleContent {
                width: 100%;
                height: 100%;
            }
        }
    }
}
@media screen and (max-width: 726px) {
    .homeWrapper {
        .homeSliderSection {
            .sliderCard {
                height: 450px;
                .sliderCard {
                    height: 450px;
                    .cardTitle {
                        .arrivals {
                            font-size: 14px;
                        }
                        .latest {
                            font-size: 20px;
                        }
                    }
                }
            }
        }
        .productsSection {
            .productsHeading {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .productsContent {
                    .productsHeadingTop {
                        a {
                            font-size: 18px;
                        }
                        .bestSeller {
                            font-size: 18px;
                        }
                    }
                }
            }
        }
        .fashionSection {
            .fashionContent {
                h2 {
                    font-size: 25px;
                }
            }
        }
    }
}
@media screen and (max-width: 600px) {
    .homeWrapper {
        .homeSliderSection {
            .sliderCard {
                height: 700px;
                align-items: start;
                .homeSliderBackground {
                    object-position: 100% 100%;
                }
                .cardTitle {
                    margin-top: 75px;
                    width: 100%;
                    align-items: center;
                    .latest {
                        text-align: center;
                    }
                    .shipping {
                        text-align: center;
                    }
                }
                &.titleBottom {
                    align-items: end;
                    .cardTitle {
                        margin-top: 100px;
                    }
                }
            }
        }
        .fashionSection {
            height: 250px;
        }
    }
}

@media screen and (max-width: 508px) {
    .homeWrapper {
        .homeSliderSection {
            .sliderCard {
                .homeSliderBackground {
                    object-position: 85% 100%;
                }
                .cardTitle {
                    margin-top: 50px;
                }
                &.titleBottom {
                    .cardTitle {
                        margin-top: 150px;
                    }
                }
            }
        }
        .productsSection {
            .productsHeading {
                .productsContent {
                    .productsHeadingTop {
                        flex-direction: column;
                        a {
                            font-size: 18px;
                        }
                        .bestSeller {
                            font-size: 16px;
                            text-align: center;
                            &::before {
                                left: 0;
                            }
                        }
                    }
                }
            }
        }
        .fashionSection {
            height: 220px;
            .fashionContent {
                p {
                    font-size: 15px;
                }
                h2 {
                    font-size: 25px;
                }
            }
        }
        .saleSection {
            .saleContent {
                .saleText {
                    p {
                        font-size: 15px;
                    }
                    span {
                        font-size: 35px;
                    }
                    h3 {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}
