@import '../../../Variables/Variables.module.scss';

.footerWrapper{
    width: 100%;
    .footerContainer{
        width: 100%;
        max-width: 1450px;
        margin: 0 auto;
        display: flex;
        gap: 80px;
        padding: 80px;
        .footerLeft{
            width: 40%;
            display: flex;
            flex-direction: column;
            gap: 40px;
            .footerLogo{
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 20px;
                a {
                    &:hover {
                        img {
                            transform: scale(1.05);
                            box-shadow: 0 0 15px gray;
                        }
                    }

                    img{
                        max-width: 200px;
                        width: 100%;
                        object-fit: cover;
                        object-position: center;
                        transition: transform $transition, box-shadow $transition;
                    }
                }
            }
            .footerTime{
                display: flex;
                flex-direction: column;
                gap: 10px;
                
            }
        }
        .footerRight{
            width: 60%;
            display: flex;
            flex-direction: column;
            gap: 50px;
            .footerEmail{
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 20px;
                h1{
                    font-size: 20px;
                    letter-spacing: 0.1em;
                }
                form{
                    width: 100%;
                    display: flex;
                    input{
                        width: 100%;
                        max-width: 700px;
                        height: 40px;
                        outline: none;
                        background-color: rgb(237,237,237);
                        border: none;
                        font-size: 16px;
                        padding: 0 15px;
                        border-radius: 10px 0 0 10px;
                    }
                    button{
                        background-color: $black-weak;
                        color: white;
                        transition: 0.5s;
                        border: none;
                        outline: 0;
                        padding: 5px 15px;
                        border-radius: 0 10px 10px 0;
                        font-size: 15px;
                        &:hover{
                            background-color: gray;
                            cursor: pointer;
    
                        }
                    }
                }
            }
            .footerList{
                width: 100%;
                display: flex;
                gap: 20px;
                ul{
                    width: 100%;
                    list-style: none;
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    li{
                        cursor: pointer;
                        transition: color $transition,transform $transition;
                        &:hover {
                            color: rgba(128, 128, 128, 0.8);
                            transform: scale(1.03);
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:1100px) {
    .footerWrapper{
        .footerContainer{
            display: flex;
            flex-direction: column;
            padding: 40px;
            gap: 40px;
            .footerLeft{
                width: 100%;
            }
            .footerRight{
                width: 100%;
            }
        }
      
    }
}
@media screen and (max-width:800px) {
    .footerWrapper{
        padding: 25px 15px;
        border-top: 1px solid rgba(128, 128, 128, 0.3);
        .footerContainer{
            display: flex;
            flex-direction: column;
            padding: 0;
            .footerLeft{
                width: 100%;
                padding: 0;
                .footerLogo{
                    a {
                        img{
                            width: 150px;
                            height: auto;
                        }

                    }
                }
            }
            .footerRight{
                width: 100%;
                padding: 0;
                .footerList{
                    display: flex;
                    flex-direction: column;
                    gap: 50px;
                }
            }
        }
    }
}
@media screen and (max-width:400px) {
    .footerWrapper{
        .footerContainer{
            .footerRight{
                .footerEmail {
                    form {
                        flex-direction: column;
                        input {
                            border-radius: 5px;
                        }
                        button {
                            border-radius: 0 0 5px 5px;
                            height: 40px;
                        }
                    }
                }
            }
        }
    }
}