@import "../../../Variables/Variables.module.scss";

.blogMain {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;

  .blogContent {
    display: flex;
    width: 100%;
    max-width: 1230px;
    gap: 50px;
    padding: 50px 15px 0 15px;

    .blogLeft {
      width: 100%;
      max-width: 800px;
      display: flex;
      flex-direction: column;
      gap: 20px;

      .blogBox {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
        border-bottom: 2px solid rgba(128, 128, 128, 0.3);
        padding-bottom: 25px;
        &:last-child {
          border-bottom: transparent;
        }

        .blogImage {
          width: 100%;
          margin-bottom: 15px;
          max-height: 550px;

          img {
            width: 100%;
            object-fit: cover;
            object-position: center;
            height: 100%;
          }
        }

        .blogText {
          display: flex;
          flex-direction: column;
          gap: 15px;

          b {
            font-size: 16px;
            color: gray;
            font-weight: 400;
            text-transform: uppercase;
          }

          p {
            font-size: 18px;
            color: gray;
          }

          h1 {
            font-size: 30px;
            font-weight: 400;
            color: $black-weak;
          }

          a {
            font-size: 18px;
            font-weight: 600;
            letter-spacing: 2px;
            position: relative;
            text-transform: uppercase;
            white-space: nowrap;
            width: min-content;

            &::before {
              content: '';
              width: 0;
              height: 2px;
              background-color: black;
              position: absolute;
              bottom: -4px;
              left: 0;
              transition: width $transition;
            }

            &:hover::before {
              width: 100%;
            }


          }
        }
      }
    }

    .blogRight {
      display: flex;
      flex-direction: column;
      max-width: 350px;
      width: 100%;

      .blogContact {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 35px;

        .blogMiniBox {
          width: 100%;

          .blogInput {
            width: 100%;
            border: 1px solid gray;

            input {
              width: 270px;
              height: 50px;
              padding: 10px;
              font-size: 17px;
              outline: none;
              border: none;
            }

            i {
              font-size: 20px;
              color: gray;
            }
          }

          .blogPopular {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 20px;

            h3 {
              font-size: 25px;
              margin-bottom: 10px;
            }

            .popularBox {
              width: 100%;
              display: flex;
              gap: 20px;

              img {
                width: 105px;
                height: 79px;
              }

              p {
                font-size: 18px;
                font-weight: 500;
              }

              .blogComments {
                display: flex;
                flex-direction: column;
                gap: 20px;

                p {
                  font-size: 18px;
                  font-weight: 500;
                }

                span {
                  font-size: 13.95px;
                  color: gray;
                }
              }
            }
            .tagsBox {
              width: 100%;
              display: flex;
              gap: 15px;
              flex-wrap: wrap;
              span {
                padding: 5px 10px;
                font-size: 18px;
                background: rgba(128, 128, 128, 0.8);
                color: white;
              }

            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
.blogMain {
  .blogContent {
    max-width: unset;
    gap: 25px;
    justify-content: center;
    .blogRight {
      max-width: 300px;
    }
    .blogLeft {
      .blogBox {
        .blogText {
          h1 {
            font-size: 23px;
          }
        }
      }
    }
  }
}
}

@media screen and (max-width: 800px) {
  .blogMain {
    .blogContent {
      padding: 25px 15px 0 15px;
      flex-direction: column;
      .blogRight {
        max-width: unset;
        order: 1;
      }
      .blogLeft {
        max-width: unset;
        order: 2;
        .blogBox {
          .blogImage {
            max-height: unset;
          }
        }
      }
    }
  }
}


