@import "../../../Variables/Variables.module.scss";

.aboutMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .topSection {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 25px 15px 75px 15px;
    .sectionContent {
      max-width: 1200px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      p {
        font-size: 25px;
        color: gray;
        line-height: 35px;
      }
    }
  }
  .imageSection {
    display: flex;
    width: 100%;
    justify-content: center;

    .imageBox {
      width: 100%;
      position: relative;
      max-height: 700px;

      img {
        width: 100%;
        filter: brightness(70%);
        height: 100%;
        object-position: top;
        object-fit: cover;
      }

      h1 {
        position: absolute;
        left: 50%;
        font-family: $second-font;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 5;
        font-size: 80px;
        color: white;
        text-transform: uppercase;
        width: 100%;
        text-align: center;
        padding: 0 50px;

      }
    }
  }
  .workSection {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    padding: 75px 15px 0 15px;

    .sectionContent {
      max-width: 1200px;
      display: flex;
      width: 100%;
      gap: 25px;
      justify-content: space-between;

      .imageBlock {
        max-width: 587.5px;
        width: 100%;
        max-height: 650px;

        img {
          width: 100%;
          object-fit: cover;
          object-position: top;
          height: 100%;
        }

      }

      .titleBlock {
        display: flex;
        flex-direction: column;
        gap: 25px;
        max-width: 587.5px;
        width: 100%;
        color: $black-weak;

        > h2 {
          font-size: 35px;
          color: $black-weak;
          text-transform: uppercase;
          margin-bottom: 15px;

        }

        .textBlock {
          display: flex;
          flex-direction: column;
          width: 100%;
          gap: 15px;

          h2 {
            font-size: 25px;
          }

          p {
            font-size: 20px;
            color: gray;
          }

        }
      }
    }
  }
  .teamSection {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 75px 15px;

    .sectionContent {
      max-width: 1200px;
      display: flex;
      flex-direction: column;
      align-items: center;

      h2 {
        font-size: 30px;
        color: $black-weak;
        text-align: center;
        margin-bottom: 50px;
        text-transform: uppercase;
      }

      .teamContainer {
        display: flex;
        width: 100%;
        gap: 25px;
        justify-content: center;

        .memberBlock {
          max-width: 275px;
          width: 100%;
          display: flex;
          align-items: center;
          flex-direction: column;
          padding: 0 0 25px 0;
          border-radius: 10px;
          box-shadow: 0 0 10px rgba(128, 128, 128, 0.3);
          overflow: hidden;
          position: relative;

          .memberImg {
            width: 100%;
            height: 325px;
            overflow: hidden;

            .socialIcons {
              display: flex;
              gap: 15px;
              position: absolute;
              left: 50%;
              top: 100px;
              z-index: 3;
              transform: translateX(-50%);
              opacity: 0;
              transition: opacity $transition, top $transition;
              pointer-events: none;

              a {
                &:hover {
                  svg {
                    transform: scale(1.1) rotate(360deg);
                    color: #DA6A29;

                  }
                }

                svg {
                  transition: transform $transition,color $transition;
                  color: white;
                  font-size: 32px;
                }

              }
            }

            &:hover {
              .socialIcons {
                pointer-events: auto;
                opacity: 1;
                top: 150px;

              }

              img {
                filter: brightness(60%);
                transform: scale(1.1);
              }
            }

            img {
              transition: transform $transition, filter $transition;
              width: 100%;
              object-position: top;
              object-fit: cover;
              height: 100%;
            }
          }

          p {
            margin: 15px 0;
            text-align: center;
            padding: 0 10px;
          }

          h2 {
            font-size: 20px;
            margin: 0;
            text-align: center;
            font-family: $second-font;

          }
        }
      }

    }
  }
  .contactSection {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-image: url("https://corsen.qodeinteractive.com/wp-content/uploads/2022/09/error-page-img.jpg");
    height: 460px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    .sectionContent {
      max-width: 1200px;
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      height: 100%;
      .sectionTitle {
        max-width: 800px;
        display: flex;
        flex-direction: column;
        color: white;
        align-items: center;
        padding: 0 15px;

        h1 {
          font-size: 50px;
          font-family: $second-font;
          text-align: center;
        }
        p {
          font-size: 20px;
          text-align: center;
          margin-top: 5px;
        }
        a {
          background: white;
          color: $black-weak;
          font-size: 20px;
          padding: 10px 25px;
          border-radius: 10px;
          margin-top: 25px;
          white-space: nowrap;
          text-transform: uppercase;
          border: 1px solid rgba(128, 128, 128, 0.3);
          transition: color $transition,background $transition,border-color $transition;
          &:hover {
            color: white;
            background: black;
            border-color: white;
          }
        }
      }

    }
  }
  .sponsorsSection {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 100px 15px 75px 15px;
    .sectionContent {
      display: flex;
      max-width: 1200px;
      width: 100%;
      flex-wrap: wrap;
      justify-content: center;
      .sponsorBlock {
        width: 100%;
        max-width: 200px;
        padding: 15px;
        img {
          width: 100%;
          object-fit: cover;
          object-position: center;
        }
      }

    }
  }


}


@media screen and (max-width: 1400px) {
  .aboutMain {
    .topSection {
      padding: 15px 15px 50px 15px;

      .sectionContent {
         p{
           font-size: 23px;

         }
      }
    }
    .imageSection {
      .imageBox {
        max-height: 600px;
        h1 {
          font-size: 60px;
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .aboutMain{
    .workSection {
      .sectionContent {
        max-width: unset;
        justify-content: center;
        .titleBlock {
          max-width: 450px;
        }
        .imageBlock {
          max-height: 750px;
        }
      }
    }
    .teamSection {
      padding: 50px 15px;
      .sectionContent {
        .teamContainer{
          flex-wrap: wrap;
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .aboutMain {
    .topSection {
      padding: 0 15px 25px 15px;

      .sectionContent {
        p{
          font-size: 20px;

        }
      }
    }
    .imageSection {
      .imageBox {
        max-height: 500px;
        h1 {
          font-size: 40px;
        }
      }
    }
    .teamSection {
      .sectionContent {
        h2 {
          margin-bottom: 25px;
        }
      }
    }
    .contactSection {
      .sectionContent {
        .sectionTitle {
          h1 {
            font-size: 32px;
          }
          p {
            margin-top: 20px;
          }
          a {
            font-size: 15px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .aboutMain{
    .workSection {
      padding: 25px 0 0 0;
      .sectionContent {
        align-items: center;
        flex-direction: column;
        .titleBlock {
          max-width: unset;
          padding: 0 15px;
        }
        .imageBlock {
          max-width: unset;
          max-height: 500px;
          overflow: hidden;

        }
      }
    }
    .sponsorsSection {
      padding: 50px 15px 50px 15px;
    }
  }

}

@media screen and (max-width: 600px) {
  .aboutMain {
    .imageSection {
      .imageBox {
        max-height: 400px;
        h1 {
          font-size: 25px;
        }
      }
    }
    .workSection {
      .sectionContent {
        .titleBlock {
          h2 {
            font-size: 30px;
            margin: 0;
            text-align: center;
          }
          .textBlock {
            p{
              text-align: center;
            }
          }

        }
        .imageBlock {
          max-height: 350px;

        }
      }
    }
    .contactSection {
      height: 350px;
      background-position: 70% 100%;
    }
  }

}

@media screen and (max-width: 400px) {
  .aboutMain {
    .workSection {
      .sectionContent {
        .titleBlock {
          h2 {
            font-size: 25px;
          }
        }
      }
    }


  }

}
