@import "../../../Variables/Variables.module.scss";

.wrapper {
    position: fixed;
    transition: bottom 0.2s linear,opacity 0.2s linear;
    width: 40px;
    height: 40px;
    background: $black-weak;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    z-index: 2;
    pointer-events: none;
    right: 10px;
    bottom: 30px;
    border-radius: 50%;
    opacity: 0;

    svg {
        font-size: 30px;
    }
    &.visible {
        opacity: 1;
        pointer-events: all;
        bottom: 10px;

    }
}
